@using System.Collections;
@using Algebra.Core.Output;
@using Algebra.Core.Output.Explain;

<table class="table table-borderless">
    <tbody>

        @if (Explain != null)
        {
            @foreach (var e in Explain)
            {
                <tr>
                    <td>
                        <DetailItemCalc Item=@e></DetailItemCalc>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter]
    public ArrayList Explain { get; set; }
}
