@using Algebra.Core.Math.Expr;
@using Algebra.Core.Output;

@if (Item is string str)
{
    <p>@str</p>
}
else @if (Item is LaTex latex)
{
<Equation Value=@(latex.ToString()) TeXDisplay="false"></Equation>
}
else @if (Item is IToLatex e)
{
<Equation Value=@(e.ToLatex().ToString()) TeXDisplay="false"></Equation>
}

@code {
    [Parameter]
    public object Item { get; set; }
}
